@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*{
  font-family: 'Lato', sans-serif;
}

body{
  background-color: rgb(250, 250, 250);
}

.header_comm {
  height: 4rem;
  background-color: #150050;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.left_nav {
  display: flex;
  height: 100%;
  width: 12.7rem;
  align-items: center;
  justify-content: center;
  background-color: #FB2576;
}

.no_items{
  height: calc(100vh - 95px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no_items p{
  font-size: 35px;
  font-weight: 900;
}

.no_items img{
  height: 200px;
}

.no_items .buyItem-bt{
  text-decoration: none;
  
}

.name_comm {
  display: flex;
  font-size: 35px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.name_comm:hover {
  color: white;
}

.categories_nav{
  height: 100%;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.cat_list{
  color: rgb(243, 243, 243);
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  font-weight: 900;
}

.cat_list:hover{
  color: #FB2576;
}

.right_nav{
  height: 100%;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_nav{
  color: #FB2576;
  cursor: pointer;
  font-size: 17px;
  font-weight: 900;
}

.cart_icon {
  height: 100%;
  color: rgb(243, 243, 243);
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 1rem;
}

.general-container{
  height: calc(100vh - 64px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  padding-bottom: 30px;
}

.products-container{
  height: 24rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  _background-color: #150050;
  color: white;
  margin: 20px 0px 0px 20px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid rgb(179, 179, 179);
}

.products-container:hover{
  color: white;
}

.product-image{
  width: 100%;
  max-height: 200px;
  display: flex;
  justify-content: center;
}

.product-image img{
  max-height: 200px;
  padding: 15px;
  overflow: hidden;
}

.product-info{
  width: 100%;
  height: 8.2rem;
  background-color: #3F0071;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.product-brand{
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 900;
}

.product-info h5{
  font-weight: 900;
}

.list-bts{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.detailsItem-bt{
  height: 50px;
  width: 100%;
  display: flex;
  background-color: #00b938;
  color: white;
  border: 0px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
}

.buyItem-bt:hover{
color: white;
font-size: 17px;
cursor: pointer;
font-weight: 900;
}

.detailsItem-bt:hover{
color: white;
font-size: 17px;
font-weight: 900;
}

.principal-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail-product{
  width: 60rem;
  height: 33rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: 20px 0px 0px 20px;
}

.detail-product-image{
  width: 63rem;
  height: 33rem;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
}

.img-brand-name{
  width: 33rem;
  height: 10rem;
  top: 3rem;
  display: flex;
  position: absolute;
  font-size: 160px;
  font-weight: 700;
  padding: 0px 0px 0px 15px;
  z-index: 0;
  color: rgb(206, 206, 206);
  align-items: baseline;
}

.detail-product-image img{
  max-height: 25rem;
  z-index: 1;
}

.product-details{
  width: 55rem;
  height: 33rem;
  background-color: #3F0071;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px 15px 15px;
  z-index: 2;
}

.product-detail-brand-model{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5rem;
}

.product-detail-brand{
  height: 4.5rem;
  font-size: 65px;
  font-weight: 900;
}

.product-detail-model{
  width: calc(100% - 60px);
  height: 5rem;
  margin-left: 60px;
  font-size: 1.3rem;
  font-weight: 900;
  color: #FB2576;
}

.product-detail-description{
  width: 20rem;
  text-align: left;
  margin-top: 45px;
}
.product-detail-price{
  width: 8rem;
  text-align: left;
  font-size: 2rem;
  font-weight: 900;
}

.buy-price-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.buyItem-bt{
  height: 2.3rem;
  width: 13rem;
  display: flex;
  background-color: #FB2576;
  color: white;
  border: 0px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.qty_items {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.qty_items button{
  height: 20px;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  font-size: 25px;
  border: 0px solid white;
  margin: 0px 5px 0px 5px;
}

.item_count_father{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item_count_children{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-info h5{
  font-weight: 900;
}

.cart_card{
  height: 6rem;
  width: 98.5%;
  color: black;
  display: flex;
  flex-direction: row;
  margin: 0rem 0rem 0rem 1rem;
  border-bottom: 1px solid rgb(228, 228, 228);
}
.cart_card_info{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 900;
}

.cart_card_info span{
  width: 80%;
  text-align: center;
}

.brand_title{
  width: 31rem;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.rest_prod_title{
  width: 80%;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart_card .img{
  height: 70%;
  max-width: 10rem;
  object-fit: cover;
  display: flex;
  align-self: center;
}

.delete_icon{
  height: 100%;
  color: rgb(161, 161, 161);
  width: 1.5rem;
  cursor: pointer;
}

.cart_father{
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}

.principal_container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titles_cart{
  width: 99%;
  color: black;
  height: 2rem;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid rgb(212, 212, 212);
  margin-left: 10px;
}

.titles_cart span{
  width: 100%;
  text-align: center;
}

.prod_title{
  width: 50rem;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.rest_title{
  width: 80%;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totals_container{
  background-color: #3F0071;
  height: calc(100vh - 64px);
  width: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
}

.totals_container button{
  height: 50px;
  border: 0px;
  font-size: 18px;
  font-weight: 900;
  background-color: #FB2576;
  color: white;
  border-radius: 5px;
}

.del_disc_taxes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.del_disc_titles{
  display: flex;
  flex-direction: column;
  font-weight: 900;
}

.del_disc_values{
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.notifCartItems {
  position: absolute;
  background-color: #f02d00;
  color: white;
  border-radius: 12px;
  top: 7px;
  right: 12px;
  width: 12px;
  height: 12px;
  font-size: 0.3em;
  text-align: center;
}

.spinner_icon{
  height: 50px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(179, 179, 179);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(29, 29, 29);
  border-radius: 20px;
}

/* MEDIA QUERIES START */

@media (max-width: 612px) {

  .header_comm {
    height: 10rem;
    flex-direction: column;
  }

  .categories_nav{
    width: 25rem;
  }

  .principal-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}